@import "_VARIABLES";
body {
  //font-family: 'Ubuntu Mono', monospace;
  font-size: 17px;
}

.ri-user-line{
  font-size: 20px;
}

.v-sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.v-xxx-btn {
  background-color: black;
  padding: 10px 20px;
  color: white;
  border-radius: 30px;
  width: 100px;
  text-align: center;
}

.v-space {
  height: var(--height-space);
}

//display flex
.v-header--primary,
.v-header--primary__nav,
.v-header--secondary,
.v-header--secondary__nav,
.v-header--secondary__control,
.v-intro {
  display: flex;
  align-items: center;
}

// padding screen
.v-header--primary,
.v-header--secondary,
.v-product--latest {
  padding: 0 var(--padding-screen);
}
/////////
.v-header {
  &--primary {
    height: var(--height-header-primary);
    min-height: var(--min-height-header-primary);
    justify-content: space-between;
    align-items: center;
    &__nav {
      &__item {
        padding: 0 1vw;
        font-size: 15px;
      }
      &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
      }
    }
    &__logo {
      font-size: 22px;
      font-weight: 600;
      letter-spacing: 2px;
    }
  }
  &--secondary {
    background-color: var(--color-light-theme-grey);
    justify-content: space-between;
    height: var(--height-header-secondary);
    min-height: var(--min-height-header-secondary);
    &__logo {
      width: var(--min-width-header-secondary-logo);
    }
    &__nav {
      width: var(--width-header-secondary-nav);
      min-width: var(--min-width-header-secondary-nav);
      font-size: calc(0.4vw + 12px);
      justify-content: space-between;
      &__item {
        color: black;
        font-style: italic;
        font-weight: 400;
        letter-spacing: 0.05vw;
      }
    }
    &__control {
      width: var(--width-header-secondary-control);
      min-width: var(--min-width-header-secondary-control);
      justify-content: space-around;
      &__search,
      &__fav,
      &__cart {
        display: flex;
        align-items: center;
        justify-content: space-around;
      }
      &__search {
        width: 50%;
        border-radius: 20px;
        height: 35px;
        background-color: white;
        padding: 0 3%;
      }
    }
  }
}
.ri-search-2-line,
.ri-heart-3-line,
.ri-shopping-cart-line {
  font-size: 24px;
}
#v-search {
  border: 0;
  outline: 0;
  height: 100%;
  width: calc(100% - 5% - 24px);
  background-color: transparent;
  //padding: 3%;
}
.ri-at-fill {
  font-size: 40px;
  font-weight: normal;
}

.v-intro {
  padding: 0 var(--padding-screen);
  flex-direction: column;
  &__jordan-logo {
    width: 7%;
    min-width: 70px;
    margin: 1% 0;
  }
  &__image {
    width: 100%;
    height: var(--height-intro-image);
    min-height: var(--min-height-intro-image);
    overflow: hidden;
    position: relative;
    border-radius: 7px;
    & > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
    &__content {
      position: absolute;
      bottom: 5%;
      display: flex;
      flex-direction: column;
      height: var(--height-intro-image-content);
      justify-content: space-around;
      padding: 0 var(--padding-screen);
      & > div {
        background: -webkit-linear-gradient(white 70%, #e7444d 30%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: calc(3vw + 40px);
        font-weight: 600;
      }
      &__btn {
        background-color: white;
        width: 150px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        color: black;
        font-weight: 600;
        letter-spacing: 4px;
      }
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    margin: 1.5vw 0;
    text-align: center;
    &__sub {
      font-weight: 600;
    }
    &__heading {
      font-size: calc(1vw + 30px);
      font-weight: 700;
    }
  }
}

.v-product--latest {
  &__heading {
    @include layout_heading()
  }
  &__layout {
    width: 100%;
    //height: 100%;
    display: grid;
    grid-template-columns: repeat(var(--column-product-latest-layout), 1fr);
    gap: 1.5vw;
    &__item {
      width: 100%;
      & > img {
        border-radius: 7px;
        width: 100%;
        height: var(--height-product-latest-image);
        object-fit:   cover;
        object-position: center center;
      }
      &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: var(--AI-product-latest-item-content);
        text-align: var(--TA-product-latest-item-content);
        padding: var(--pading-product-latest-item-content);
        & > * {
          margin: 2% 0;
        }
        & > h1 {
          font-size: calc(0.4vw + 20px);
          font-weight: 600;
        }
        & > p {
          font-size: calc(0.5vw + 10px);
        }
      }
    }
  }
}

.v-product--hot {
  padding: 0 var(--padding-screen);
  &__heading{
    @include layout_heading()
  }
  &__layout{
    width: 100%;
    height: var(--height-produtc-hot);
    min-height: var(--min-height-product-hot);
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: var(--GAC-product-hot-layout);
    overflow-x: auto;
    gap: 0.5vw;
    &>div{
      background-color: chartreuse;
    }
  }
}
